form { width: 500px; }
label { float: left; width: 150px; }
input[type=text] { float: right; width: 250px; }
input[type=email] { float: right; width: 250px; }
select { float: left; width: 100px; }
textarea { float: left; width: 500px; }
.clear { clear: both; height: 0; line-height: 0; }
.floatright { float: right; }