#s-4b593cb5-471c-43f5-b49d-e7a050d69c67 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4b593cb5-471c-43f5-b49d-e7a050d69c67 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4b593cb5-471c-43f5-b49d-e7a050d69c67 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4b593cb5-471c-43f5-b49d-e7a050d69c67 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4b593cb5-471c-43f5-b49d-e7a050d69c67 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4b593cb5-471c-43f5-b49d-e7a050d69c67 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4b593cb5-471c-43f5-b49d-e7a050d69c67 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0E061;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0E061;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0E061;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0E061;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 379px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#D9DF2A,#D9DF2E);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4b593cb5-471c-43f5-b49d-e7a050d69c67 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}